body {
    text-align: center;
    background-color:black;
    color:aqua;
    list-style-position: inside;

    a:active {
        color: aqua;
    }

    a:hover{
        color: magenta;
    }

    a:visited{
        color: aquamarine;
    }
}

nav {
    list-style-position: inside;
    text-indent : -2cm;
}